.form_field{
    width:400px;
    height:50px;
    border:1px solid grey;
    border-radius:10px;
    color:grey
}
.error{
    color:red;
}
.btn-add{
    border:none;
    background-color: #f78e4d;
    padding: 10px 20px;
    border-radius:10px;
    color:white
}
input::file-selector-button {
    font-weight: bold;
    
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
    border:none;
    height:50px;
    color:grey
}
.cooking{
    display: flex;
    gap: 30px;
}
.btn-remove{
    border:none;
    color: #f78e4d;
    padding: 10px 20px;
    border-radius:10px;
    color:white
}