@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
    font-family: 'Poppins', sans-serif;
   
    
}
.form_field{
    width:300px;
    height:50px;
    border: 1px solid #80808038;
    border-radius:10px;
    color:grey
}
.error{
    color:red;
}
.btn-add{
    border:none;
    background-color: #f78e4d;
    padding: 10px 20px;
    border-radius:10px;
    color:white
}
input::file-selector-button {
    font-weight: bold;
    
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
    border:none;
    height:50px;
    color:grey
}
.cooking{
    display: flex;
    gap: 30px;
   
}
.recipeContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px;
    align-items: center;
    justify-content: center;
}
.Ingredients{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttonremove{
    border:none;
    background-color: #f78e4d;
    padding: 10px 20px;
    border-radius:10px;
    color:white
}
.dynamicinput {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 30px;
}
.container_addrecipe{
    
        display: flex;
        align-items: center;
      
    
}
.container_image {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_form{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.recipedetialbtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
button.buttonremove {
    font-size: 20px;
}
a.link {
    text-decoration: none;
    font-weight: 700;
    font-size:18px;
}
.logo{
    
    font-size: 40px;
    font-family: 'Permanent Marker', cursive;
}
img.d-inline-block.align-top {
    width: 120px;
}
.homeimage {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}
.homeDescription {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
.homeContainer {
    display: flex;
}
img.silder1 {
    width: 17%;
    position: absolute;
    top: 280px;
    right: 440px;
}
img.silder2 {
    width: 18%;
    position: absolute;
    top: 450px;
    right: 230px;
}
img.silder3 {
    width: 18%;
    position: absolute;
    top: 180px;
    right: 230px;
}
img.silder4 {
    width: 13%;
    position: absolute;
    top: 290px;
    right: 70px;
}
